/* for heading
 font-family: 'Merriweather', serif; */
/* font-family: 'Open Sans', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif; 
}
.btn{
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    border: 0ch;
    border-radius: 5px;
    cursor: pointer;
}
p{
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 1.5;
}
h2{
    font-size: 36px;
    font-family: 'Merriweather', serif;
    margin: 30px 0;
}
/* header-section-start-here */

#header-ection{
    background-image:linear-gradient(rgba(139, 136, 136, 0.3), rgba(0, 0, 0, 1)) ,url(images/donation3.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    padding: 150px 0;
}
.banner-section{
    width: 70%;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    color: white;
    padding: 0px 80px;
}
.banner-heading{
    font-size: 52px;
    font-family: 'Merriweather', serif;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 16px;
    word-spacing: 1px;
    margin-bottom: 40px;
}
.banner-btn{
    color: white;
    background-color: rgb(241, 54, 54);
    font-weight: 600;
}
/* header-section-ends-here */
/* donation-section-start-here */
#donation-section{
    text-align: center;
    padding: 100px 70px;
}

.donation-description{
    color: rgb(63, 64, 65);
    padding:0 220px;
}
ul.donation-package{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 70px auto;
}
li.donation-package-item{
    font-size: 20px;
    font-family: 'Merriweather', serif;
    color: rgb(57, 57, 61);
    font-weight: bolder;
    text-align: center;
    padding: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(248, 240, 228, 0.7);
    border: 2px solid transparent;
    border-radius: 5px;
}
li.donation-package-item:hover{
    background-color: rgb(247, 186, 178);
    border: 2px solid rgb(236, 46, 46);
    color: rgb(255, 255, 255);
}
.donator-choice input{
    width: 50%;
    color: rgb(202, 202, 202);
    padding: 5px 0;
    text-align: center;
    border: none;
    border-bottom: 1px solid rgb(202, 202, 202);
    font-size: 16px;
}
input:focus{
    outline: none;
}
.donation-btn{
    margin-top: 30px;
    color: white;
    background-color: rgb(231, 81, 111);
}
/* donation-section-ends-here */

/* donate-plan-section-start-here */
#donate-plan-section{
    margin: 50px 0;
    text-align: center;
}
.donate-plan-container{
    width: 60%;
    padding:20px 80px;
    margin: 0 auto;
}
.donate-plan-description{
    line-height: 1.7;
    color: rgb(77, 77, 77);
    margin-bottom: 40px;
}
.donation-cards{
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 20px 100px;
    color: rgb(73, 73, 73);
}
.card-one, .card-two, .card-three{
    width: 33.3%;
    padding: 10px 30px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}
.card-img{
    display: block;
    margin: 30px 0;
}
.card-heading{
    font-size: 20px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.card-text{
    color: rgb(77, 77, 77);
    padding-right: 10px;
}
.card-one{
    background-color: rgb(224, 252, 245);
}
.card-two{
    background-color: rgb(255, 244, 230);
}
.card-three{
    background-color: rgb(255, 207, 217);
}
/* donate-plan-section-ends-here */
